# Bundler
vendor/
.bundle/

# Jekyll
.jekyll-cache/
_site/

# Node
node_modules/

# Build output
assets/js/dist/*.js
assets/css/dist/*.css
public/

# OS
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/
*.sw?

# Gem
*.gem

# Misc
.cache/